Host artifactory.dev
  HostName 172.16.0.48
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile .vagrant/machines/artifactory.dev/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host client.dev
  HostName 172.16.0.49
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile .vagrant/machines/client.dev/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL
