{
  "key" : "{{ item.key }}",
  "packageType" : "{{ item.value['packageType'] }}",
  "description" : "{{ item.value['description'] | default('') }}",
  "notes" : "{{ item.value['notes'] | default('') }}",
  "includesPattern" : "**/*",
  "excludesPattern" : "",
  "repoLayoutRef" : "{{ item.value['repoLayoutRef'] | default('simple-default') }}",
  "enableComposerSupport" : {{ item.value['enableComposerSupport'] | default('false') }},
  "enableNuGetSupport" : {{ item.value['enableNuGetSupport'] | default('false') }},
  "enableGemsSupport" : {{ item.value['enableGemsSupport'] | default('false') }},
  "enableNpmSupport" : {{ item.value['enableNpmSupport'] | default('false') }},
  "enableBowerSupport" : {{ item.value['enableBowerSupport'] | default('false') }},
  "enableCocoaPodsSupport" : {{ item.value['enableCocoaPodsSupport'] | default('false') }},
  "enableConanSupport" : {{ item.value['enableConanSupport'] | default('false') }},
  "enableDebianSupport" : {{ item.value['enableDebianSupport'] | default('false') }},
  "debianTrivialLayout" : {{ item.value['debianTrivialLayout'] | default('false') }},
  "enablePypiSupport" : {{ item.value['enablePypiSupport'] | default('false') }},
  "enablePuppetSupport" : {{ item.value['enablePuppetSupport'] | default('false') }},
  "enableDockerSupport" : {{ item.value['enableDockerSupport'] | default('false') }},
  "dockerApiVersion" : "V2",
  "forceNugetAuthentication" : {{ item.value['forceNugetAuthentication'] | default('false') }},
  "enableVagrantSupport" : {{ item.value['enableVagrantSupport'] | default('false') }},
  "enableGitLfsSupport" : {{ item.value['enableGitLfsSupport'] | default('false') }},
  "enableDistRepoSupport" : {{ item.value['enableDistRepoSupport'] | default('false') }},
  "repositories" : [ "{{ item.value['repositories'] | join('", "') }}" ],
  "artifactoryRequestsCanRetrieveRemoteArtifacts" : {{ item.value['artifactoryRequestsCanRetrieveRemoteArtifacts'] | default('false') }},
  "keyPair" : "",
  "pomRepositoryReferencesCleanupPolicy" : "discard_active_reference",
  "defaultDeploymentRepo" : "{{ item.value['defaultDeploymentRepo'] }}",
  "externalDependenciesEnabled" : {{ item.value['externalDependenciesEnabled'] | default('false') }},
{% if item.value['packageType'] == "bower" or item.value['packageType'] == "npm" %}
  "externalDependenciesPatterns" : [ "**" ],
{% endif %}
  "virtualRetrievalCachePeriodSecs" : 600,
  "enabledChefSupport" : {{ item.value['enabledChefSupport'] | default('false') }},
  "rclass" : "virtual"
}
